:root {
    font-size: 10px;
}

.header-container {
    margin: 0 auto;
    max-width: 192rem; 
    background: white;
    background-size: cover;
    display: flex;
    position: sticky;
    top: 0px;  
}

.main-content {
    width: 120rem;
    margin: 0 auto; 
}

.h1-hidden {
    position: fixed;
    visibility: hidden;
}

.header { 
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;
}

.nav-menu {
    width: 44.3rem;
    align-self: center;
}

.header-list {
    display: flex;
    justify-content: space-between;  
}

.header-li-href {
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;  
    color: #545454;
    opacity: 0.8;
}

.our-pets-li-href {
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;  
    color: #292929;
    opacity: 0.8;
    opacity: 1;
}

.our-pets-underline {
    border-bottom: 0.3rem solid; 
    color: #F1CDB3;
}

.header-li-href:hover {
    opacity: 1;
    border-bottom: 0.3rem solid #F1CDB3; 
    color: #292929; 
    padding-bottom: 0.4rem;
}

.logo { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18.6rem;
    height: 6rem;  
}

.h2-logo {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%; 
    display: flex;
    align-items: center;
    letter-spacing: 0.19rem;
    color: #F1CDB3; 
}

.p-logo {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 110%;  
    letter-spacing: 0.13rem;
    padding-left: 0.4rem;
    color: #FFFFFF; 
}

.our-friends {
    background: #F6F6F6;  
    padding: 8rem 0 10rem 0;
}

.our-friends-content {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.h3-our-friends {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.55rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.055em;
    color: #545454; 
} 

.our-friends-cards { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;
}

.card {
    width: 27rem;
    height: 43.5rem;
    background: #FAFAFA;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 0.9rem;
    margin: 3rem 0 0 0;
}

.card:hover { 
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background: white;
} 

.button-card {
    width: 18.7rem;
    height: 5.2rem;
    border: 0.2rem solid #F1CDB3;
    background: white;
    box-sizing: border-box;
    border-radius: 10rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 130%; 
    letter-spacing: 0.06em; 
    color: #292929; 
    text-align: center;
    margin-top: 3rem;
    outline: none; 
}

.button-card:hover {
    cursor: pointer;
    background:  #F1CDB3;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.p-card {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem; 
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em; 
    color: #545454;
    padding-top: 3rem;
}  

.nav-buttons {
    display: flex;
    padding-top: 6rem;
}

.nav-butn {
    width: 5.2rem;
    height: 5.2rem;  
    box-sizing: border-box;
    border-radius: 10rem;
    outline: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px; 
    border: 0.2rem solid #CDCDCD; 
}

.nav-butn:hover { 
    cursor: pointer; 
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
} 

.left-arrow:hover {
    box-shadow: none;
    cursor: auto;
}

.list-number {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;  
    letter-spacing: 0.06em; 
    color: #292929; 
    background: #F1CDB3;
    border: #F1CDB3;
}

.right-arrow {
    border: 0.2rem solid #F1CDB3;
}

.footer {
    background: url(../../assets/images/footer-background.png);
    background-size: cover;
    padding-top: 4rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.h3-footer {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 130%; 
    letter-spacing: 0.06em; 
    color: #FFFFFF;
}

.footer-inf{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%; 
    letter-spacing: 0.06em; 
    color: #F1CDB3;
    text-decoration: none;
}

.contact-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.location {
    height: 23.4rem;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts {
    height: 23.4rem;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail {
    width: 25.1rem;
    height: 3.2rem;
}

.phone {
    width: 23.9rem;
    height: 3.2rem;
}

.boston-address {
    width: 30.2rem;
    height: 4.6rem;
}

.london-address {
    width: 26.9rem;
    height: 3.2rem;
}

.boston {
    padding-left: 2rem;
}